
/*************************************************************************
 Globals
*************************************************************************/

/* Reset all margin/padding: safest way to avoid browser differences for some elements */
* { margin: 0; padding: 0; }
hr { display: none; }
img { border-style: none; }

table td 
{ 
	vertical-align: top;
	padding: 3px;
}

/* Default background color */
body { background-color: #ffffff; }


/*************************************************************************
 Layout of main page elements
*************************************************************************/

/* This creates a fixed with layout with three columns */

#HwContainer 
{
	width: 1000px;
	text-align: left;
}

#HwCustomHeader {
	position: relative;
}

#HwSearchWrapper 
{
	height: 36px;
	position: relative;
}

#HwMain 
{
	clear: both;
}

#HwColumnSidebar1 
{
	width: 220px;
	float: left;
}

#HwColumnSidebar2 
{
	width: 300px;
	float: right;
}
	
#HwColumnContent 
{
	width: 480px;
	float: left;
}


#HwNavigationWrapper {
	position: relative;
	padding-bottom: 20px; /* contentFooter.height + space */
}

#HwContentWrapper {
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}


#HwFooter 
{
	width: 100%;
	clear: both;
	position: relative;
}

#HwCustomFooter {
	clear:both; 
}

/*************************************************************************
 HwFooter: Layout of elements inside footer
*************************************************************************/

.HwLogo
{
	float:left;
	width: 101px;
	height: 61px;
	padding-top:20px;
}

.HwDisclaimer
{
	padding: 5px 10px 15px 150px;
	border-top: 4px solid #705E3E;
}

.HwCopyright
{
	padding: 0px 0px 10px 150px;
}


/*************************************************************************
 HwSearch: Layout and sizing of search box
*************************************************************************/


#HwCustomSearchLeft
{
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 348px;
	height: 34px; 
}

#HwCustomSearchRight 
{
	float: right;
	width: 348px;
	height: 34px; 
}

#HwSearch {
	width: 300px;
	float: left;
	position: relative;
	text-align: center; /*IE needs this to center HwSearchContent */
	top: 1px;
	left: 1px;
}

.HwSearchHeader 
{
	display: none;
}

.HwSearchContent
{
	height: 36px;
	position: relative;
	padding-left: 8px;
}

.HwSearchContent dl 
{
	height: 36px;
}

.HwSearchContent dt
{
	position: absolute;
	left: 10px;
	top: 7px;
}

.HwSearchContent dt input 
{
	width: 210px;
	height: 16px;
	font-size:1em /*12px*/ !important;
}

.HwSearchContent dd
{
	position: absolute;
	right: 5px;
	top: 4px;
}

input.HwSearchButton
{
	width: 68px;
	height: 27px;
	border: none;
}

* html #HwSearchWrapper .HwClear 
{
	display: none;
}


/*************************************************************************
 DocType: Definitions specific to a doctype
*************************************************************************/

.HwTypeDefinition
{
	padding: 0;
	margin: 0;
}

.HwTypeDefinition #HwContainer,
.HwTypeMultiMedia #HwContainer
{
	background: none;
}

.HwTypeDefinition div#HwHeader 
{
	display: none;
}



/* Main navigation */

.HwNavigationEmpty 
{
	display: none;
}

#HwNavigation 
{
	padding-top: 1em;
	padding-left: 2em;
	line-height:1.42em; /*17px*/
}

#HwNavigation ul 
{
	padding-left: 2em;
	padding-top: 1em;
}

#HwNavigation li 
{
	list-style-type: none;
	padding-top: 0.5em;
}

.HwNavigationItem
{
}

